body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.weather {
  background-color: #DAE2B6;
  justify-content: center;
  align-items: center;
  margin: 0;
}
